{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Supermarkets</h3>
                </div>


                <table class="table table-bordered  table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Image file</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for var in var_list %}
                        {% if session[var['id_']|string] %}
                            <tr>
                                {% else %}
                            <tr class='clickable-row'
                                data-href="{{ url_for('supermarkets.get_supermarket', id_=var.id_) }}">
                        {% endif %}
                    <th scope="row">{{ var.id_ }}</th>
                    <td>{{ var.name }}</td>
                    <td>{{ var.location }}</td>
                    <td><img class="img-fluid img-thumbnail cust-size"
                             src="{{ url_for('supermarkets.static', filename= 'img/' + var.img_name) }}"/></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>

{% endblock %}