<!-- Footer -->
<footer class="page-footer font-small teal pt-4">


    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-right">
        <h5 class="font-weight-bold">
            <a href="https://github.com/ibra86">https://github.com/ibra86</a>
        </h5>
        <p>«I did it with a little looking to the previous homework and my notes!»</p>
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        Anton Ibragimov
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->