<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Products
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="{{ url_for('products.get_all_products') }}">All products list</a>
                    <a class="dropdown-item" href="{{ url_for('products.get_add_product') }}">Add new product</a>
                </div>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Supermarkets
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="{{ url_for('supermarkets.get_all_supermarkets') }}">All supermarkets list</a>
                    <a class="dropdown-item" href="{{ url_for('supermarkets.get_add_supermarket') }}">Add new supermarket</a>
                </div>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
